<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Estadísticas</title>
</head>
<body>
    <h1>Estadísticas</h1>
    <p><img src="{{ url_for('static', filename='images/Fotos/statfotos/linea.png') }}" alt="stat1" width="320" height="240"></p>
    <p><img src="{{ url_for('static', filename='images/Fotos/statfotos/torta.png') }}" alt="stat2" width="320" height="240"></p>
    <p><img src="{{ url_for('static', filename='images/Fotos/statfotos/barra.png') }}" alt="stat2" width="320" height="240"></p>
    <button id="volver-button" type="button">Volver</button>

    <script src="{{ url_for('static', filename='js/botones.js') }}"></script>
</body>
</html>